* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    height: 100%;
}

body {
    background-color: #EBEBEB;
    height: 100%;
}

/* RIBBON */

.ribbon {
    background-color: #4A69BF;
    width: 16%;
    height: 110vh;
    margin: -10vh 0 0 10%;
    box-shadow: 7px 0 9px 0px rgba(180, 180, 180, 0.44), -7px 0 9px 0 rgba(180, 180, 180, 0.44);
    display: flex;
    flex-direction: column;
    position: fixed;
}

.upper-ribbon {
    margin-top: 10vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.logo {
    height: 60%;
    margin: 0;
}

.name {
    color: whitesmoke;
    font-size: 1.2em;
    margin: 1em;
}

.central-ribbon {
    background-color: whitesmoke;
    height: 40vh;
}
nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 0.8em;
    font-size: 0.9em;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:active, .nav-link:hover {
    color: #4A69BF;
}

.lower-ribbon {
    height: 30vh;
}

/* SECTIONS */

.section {
    margin: 3em 0 0 30%;
}

/* ABOUT SECTION */

.about p {
    width: 80%;
}

.section h1 {
    margin: 0 0 1em 0.6em;
}

.basic-info {
    margin: 2em 0 0 0;
}

.basic-info-list {
    list-style: none;
}

.basic-info-list li {
    margin: 0 0 0.6em 0;
}

.basic-info-list li img {
    height: 1em;
    margin-right: 0.6em;
    margin-bottom: -0.1em;
}

/* EDUCATION SECTION */

.degree-cards-container {
    display: flex;
    justify-content: space-around;

}

.degree-card {
    width: 50%;
    margin: 0 2em 0 0;
    border-radius: 0.88em;
    background-color: whitesmoke;
}
.degree-card:first-of-type {
    margin-left: 1em;
}

.degree-card p {
    margin: 0.8em 0.8em 0.8em 0.8em;
}

.degree-name {
    font-size: 1.12em;
    font-weight: 600;
}

.graduation {
    margin: -0.6em 0 0 1.1em !important;
    font-size: 0.9em;
    color: rgb(30, 30, 30);
}

/* SKILLS SECTION */


