* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    height: 100%;
}

body {
    background-color: #EBEBEB;
    height: 100%;
}

.ribbon {
    background-color: #4A69BF;
    width: 16%;
    height: 110vh;
    margin: -10vh 0 0 10%;
    box-shadow: 7px 0 9px 0px rgba(140, 140, 140, 0.5), -7px 0 9px 0 rgba(140, 140, 140, 0.5);
    display: flex;
    flex-direction: column;
}

.upper-ribbon {
    margin-top: 10vh;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.logo {
    height: 55%;
    margin: 8%;
}

.name {
    color: whitesmoke;
    font-size: 1.4em;
    margin: 0.5em;
}

.central-ribbon {
    background-color: whitesmoke;
    height: 40vh;
}
nav {
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin: 0.8em;
    font-size: 0.9em;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:active, .nav-link:hover {
    color: #4A69BF;
}



.lower-ribbon {
    height: 30vh;
}

